<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're 

    <ul> 
    {% for compliment in compliments %} 
    {% if compliment == compliments[-1] %}
        <li> {{ compliment }}! </li> 
    {% else %}
         <li> {{ compliment }}, </li> 
    {% endif %}
    {% endfor %} 
    </ul> 
  
    <form action="/game">
        Do you want to play a game? <br> 
    <input type="radio" name="play" value="play"> 
        Play </input> <br>
    <input type="radio" name="play" value="dont_play"> 
        Don't Play </input> <br>
    <input type="submit"> </form>
</body>
</html>