<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Choose a person, color, noun and adjective
    <form action="/madlib" method="POST">

    <input type="text" name="person"> 
        Name 
    </input> <br/>

    <select name="color" value="">
        <option>red</option>
        <option>blue</option>
        <option>yellow</option>
        <option>green</option>
        <option>violet</option>
    </select> <br/>

    <input type="radio" name="noun" option="hat">Hat</input>
    <input type="radio" name="noun" option="scarf">Scarf</input>
    <input type="radio" name="noun" option="coat">Coat</input>
    <input type="radio" name="noun" option="shoe">Shoe</input>
    <input type="radio" name="noun" option="umbrella">Umbrella</input> <br/>

    <input type="checkbox" name="adjective" value="long">Long</input>
    <input type="checkbox" name="adjective" value="round">Round</input>
    <input type="checkbox" name="adjective" value="torn">Torn</input>
    <input type="checkbox" name="adjective" value="crumpled">Crumpled</input>
    <input type="checkbox" name="adjective" value="new">New</input><br/>

    <input type="submit"> 
    </form>
</body>
</html>